/* 
 * colors.styl -- contains variables for each color used in CSS.
 *
 * Any time you would reference a color in CSS, you should instead be using a
 * variable defined in either this file or a project-specific colors file. This
 * allows for consistency and predictability in color definition and use.
 * 
 * Colors are grouped into palettes related by intention or purpose. It is
 * encouraged for palettes to reference other palettes' colors. For example,
 * if the active navigation item's underline uses the primary palette's orange,
 * you might define it this way:
 * 
 * $color--navigation--active-underline = $color--primary--orange;
 *
 * This provides flexibiltiy in changes to our use of colors; if we want to
 * globally redefine the orange color in the primary palette,
 * $color--primary--orange can be redefined. If we only want to change the
 * active navigation underline color, $color--navigation--active-underline can
 * be changed.
 *
 * Variable names should follow the form $color--pallete-name--color-name
 */

// Primary palette
$color--primary--blue = #3A5990;
$color--primary--teal = #00C9A8;
$color--primary--green = #8BC873;
$color--primary--yellow = #FAD73B;
$color--primary--orange = #ED8040;
$color--primary--red = #D46952;
$color--primary--pink = #E77286;
$color--primary--purple = #8D4B87;

// Greyscale palette
$color--greyscale--black = #1A1A1A;
$color--greyscale--darkest = #535353;
$color--greyscale--darker = #797979;
$color--greyscale--dark = #B5B5B5;
$color--greyscale--medium = #CBCBCB;
$color--greyscale--light =  #D8D8D8;
$color--greyscale--lighter = #F1F1F1;
$color--greyscale--lightest = #F5F5F5;
$color--greyscale--white = #FFF;

// Header palette
$color--header--background = $color--greyscale--white;
$color--header--site-name = $color--primary--orange;
$color--header--separator = $color--greyscale--lighter;

// Navigation palette
$color--navigation--link = $color--greyscale--darkest;
$color--navigation--hover = $color--greyscale--black;
$color--navigation--hover-underline = $color--greyscale--light;
$color--navigation--active = $color--greyscale--black;
$color--navigation--active-underline = $color--primary--yellow;
$color--navigation--border = $color--greyscale--lighter;

// Footer palette
$color--footer--link = $color--primary--red;
$color--footer--paragraph = $color--greyscale--dark;
$color--footer--separator = $color--greyscale--lighter;
