/* 
 * grid.styl -- contains variables for each CSS z-index value.
 *
 * We use a proportional grid (i.e. columns are defined in ratios, with gutters
 * as a percentage of the available width). 
 * 
 * We use Jeet to semantically define column structures: http://jeet.gs
 *
 * Any grid-related constants should be kept here, with the variable name
 * taking the form $grid--constant-name. Additionally, any mixins wrapping
 * Jeet's to cover common use cases could be stored here, with a name taking
 * the form grid--mixin-name.
 */

$grid--max-content-width = 1000px;
$grid--default-gutter = 5;  // In percent.
