/*
 * constants/mq.styl -- contains variables and mixins related to media queries.
 *
 * We use four breakpoints, creating 5 different screen width ranges that may
 * be targeted:
 *
 *          400px       600px      800px        1050px
 * 
 * ─────┬────┘ └────┬────┘ └────┬────┘ └────┬────┘ └────┬─────
 *     'xs'        's'         'm'         'l'         'xl'
 *
 * The minimum and maximums for each point are stored in variables with names
 * following the form $breakpoint--size--<min/max>.
 * 
 * Rather than reference these variables directly in media queries, we leverage
 * block-level mixins to describe specific uses of these breakpoints. These
 * mixins should be defined in a project's mq.styl or in core-css' 
 * mq.styl. This file is specifically for the definition of breakpoints and
 * 
 */

// Breakpoint variables
$breakpoint--xs-max = 399px;
$breakpoint--s-min = 400px;
$breakpoint--s-max = 599px;
$breakpoint--m-min = 600px;
$breakpoint--m-max = 799px;
$breakpoint--l-min = 800px;
$breakpoint--l-max = 1049px;
$breakpoint--xl-min = 1050px;

// Block-level mixins
mq--between(min, max) {
  condition = 'only screen';
  unless min is 0 {
    condition = condition + ' and (min-width: %s)' % (min);
  }
  unless max is 0 {
    condition = condition + ' and (max-width: %s)' % (max);
  }
  @media condition {
    {block}
  }
}
mq--above(min) {
  condition = 'only screen and (min-width: %s)' % (min);
  @media condition {
    {block}
  }
}
mq--below(max) {
  condition = 'only screen and (max-width: %s)' % (max);
  @media condition {
    {block}
  }
}
mq--retina() {
  condition = '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)';
  @media condition {
    {block}
  }
}
mq--xs() {
  +mq--below($breakpoint--xs-max) {
    {block}
  }
}
mq--s() {
  +mq--between($breakpoint--s-min, $breakpoint--s-max) {
    {block}
  }
}
mq--m() {
  +mq--between($breakpoint--m-min, $breakpoint--m-max) {
    {block}
  }
}
mq--l() {
  +mq--between($breakpoint--l-min, $breakpoint--l-max) {
    {block}
  }
}
mq--xl() {
  +mq--above($breakpoint--xl-min) {
    {block}
  }
}
